<div class="center jumbotron container-fluid jumbotronbody">
  <div class="jumbotronhead container-fluid"></div>
<div style="justify-content: center; display: flex;align-items: center;">
  <h1  style="text-align:center">Wecome to SWITCHED</h1>

  <div class="vl"></div>
  <style>
    .vl {
      border-left: 4px solid green;
      height: 100px;
      margin-left: 25px;
      margin-right: 25px;

    }
  </style>

    <h2 style="text-align:center"> Join the SWITCHED Community now </h2>

</div>

      <h3 style="text-align: center; margin: 100px auto">
    <%= link_to "SignUP" ,  "/users/sign_up" , class:"btn btn-warning ", id: "signup",  :style => ""%>
      </h3>



  </div>

</div>