<div class="center jumbotron container jumbotronbody">
  <div class="jumbotronhead"></div>
<div class="row">
  <div class="col-md-4"></div>
  <h1 class="col-md-5" style="margin-bottom: 50px">Wecome to SWITCHED</h1>
  <div class="col-md-3"></div>
</div>
  <div class="row">
    <div class="col-md-3"></div>

    <h2 class="col-md-6"> Join the SWITCHED Community now </h2>
      <div class="col-md-3"></div>


  </div>
  <div class="row">

    <div class="col-md-5"></div>


    <%= link_to "SignUP" ,  "/users/sign_up" , class:"btn btn-warning col-md-2", id: "signup"  %>


    <div class="col-md-5"></div>


  </div>

</div>