
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
}


#logo {

}

body{
  padding-top: 180px;
}

.navitem{

  margin-top: 20px;
}

.jumbotronbody{
  height: 500px;

}

.jumbotronhead{
  margin-top: 80px;
margin-left: 500px;
}

.jumbotronhead h1{
  margin-left: 100x;
}

.container-fluid li{
  display: inline;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn:visited {
  color: #FFF
}